
	<div class="header-k">
	   <%= link_to pages_launch_path do %>
	   <%= image_tag 'k1cks-logo.png', :class => "header-logo" %>
	   <% end %>

	   <h2>buy, sell, trade sneakers to anyone</h2>

	</div>

	<div class="howitworks-k">
		<div class="howitworks-box">
			<h1>Mail Off Shoes</h1>
			<%= image_tag 'k1cks-howitworks-3.png', :class => "hiw-image" %>
			<p>Mail off the shoes you would like to quickly trade and/or sell.  Or drop off at one of our mini hubs.  Once in our hands we safely store and insure twice the value of the shoe.  No cost to you, just simply gather the shoes you want to put on the market.

			</p>
		</div>
		<div class="howitworks-box">
			<h1>We Handle All The Work</h1>
			<%= image_tag 'k1cks-howitworks-2.png', :class => "hiw-image" %>

			<p>Once in our hands, we inspect each shoe for authencity and grade on conditions.  Shoes are professionaly cleaned on the inside and outside if neccessary.  Then professional pictures are taken of each shoe and posted under your account to sell and trade.

			</p>
		</div>
		<div class="howitworks-box">
			<h1>Trade, Sell or Buy Easily</h1>
			<%= image_tag 'k1cks-howitworks-1.png', :class => "hiw-image" %>

			<p>You can now trade any mixture of your shoes and cash for any shoe up for trades.  Once sales or trades are final, shoe is simply ship to new owners.  Never worry about scammers and the pain of selling, buying or trading shoes again.

			</p>
		</div>

	</div>

	<div class="signup-k">
			<%= link_to "Trade or Sell", new_user_registration_path, class: "button-k" %>
			<% if can? :manage, :all %>
			<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
			<% end %>
	</div>

